[TYPECHECK]


disable=
	# Not sure how to fix this for Metrics specifically
	arguments-differ,

	# we have too a lot of short variable names
	invalid-name,

	# doesn't seem helpful
	too-few-public-methods,

	# not sure it's advisable to "fix" these
	too-many-arguments,
	too-many-locals,
	too-many-instance-attributes,

	# when overriding methods you don't get to pick your arguments
	unused-argument,

    # sep raises this
    c-extension-no-member,


[SIMILARITIES]

# Minimum lines number of a similarity to report duplicate-code
min-similarity-lines=11
