[tool.poetry]
authors = [
  "Ismael Mendoza <imendoza@umich.edu>",
  "Somwya Kamath",
  "Thomas Sainrat",
  "Maxime Paillasa",
  "Alexandre Boucaud",
  "Remy Joseph",
  "Patricia Burchat",
  "Cyrille Doux",
  "Eric Aubourg",
]
classifiers = [
  "Programming Language :: Python :: 3.8",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
description = "Blending ToolKit"
documentation = "https://lsstdesc.org/BlendingToolKit/index.html"
keywords = ["cosmology", "galaxies", "blending", "lsst", "simulation"]
license = "MIT"
name = "blending_toolkit"
packages = [{include = "btk"}]
readme = "README.md"
repository = "https://github.com/LSSTDESC/BlendingToolKit"
version = "1.0.0a1"

[tool.poetry.dependencies]
astropy = ">=5.0.4"
galcheat = ">=1.0.0"
galsim = ">=2.3.4"
ipywidgets = ">=7.6.5"
matplotlib = ">=3.5.1"
numpy = ">=1.22.3"
pandas = ">=1.4.2"
python = ">= 3.8, < 3.9.0"
scikit-image = ">=0.19.2"
scipy = ">=1.8.0"
seaborn = ">=0.11.2"
sep = ">=1.2.0"
tqdm = ">=4.64.0"

[tool.poetry.dev-dependencies]
black = ">=22.3.0"
flake8 = ">=4.0.1"
flake8-absolute-import = ">=1.0"
jupyter-sphinx = ">=0.3.2"
nbstripout = ">=0.5.0"
nbval = ">=0.9.6"
pre-commit = ">=2.18.1"
pydocstyle = ">=5.1.1"
pytest = ">=7.1.1"
pytest-cov = ">=3.0.0"
reorder-python-imports = ">=2.6.0"
sphinx = ">=3.5.4"
sphinx-rtd-theme = ">=0.4.3"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/LSSTDESC/BlendingToolKit/issues"

[tool.black]
line-length = 100
target-version = ['py38']

[tool.pytest.ini_options]
addopts = "-ra"
filterwarnings = [
  "ignore:the imp module is deprecated:DeprecationWarning",
  "ignore:`np.int` is a deprecated alias:DeprecationWarning",
  "ignore:numpy.ufunc size changed:RuntimeWarning",
  "ignore:Creating an ndarray from ragged:numpy.VisibleDeprecationWarning",
  "ignore:numpy.ndarray size changed, may indicate binary incompatibility. Expected 80 from C header, got 88 from PyObject:RuntimeWarning:",
  "ignore:.*argument to IPyNbFile is deprecated.*:pytest.PytestRemovedIn8Warning",
]
minversion = "6.0"
testpaths = [
  "tests",
]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
