[tool.poetry]
authors = [
  "Ismael Mendoza <imendoza@umich.edu>",
  "Somwya Kamath",
  "Thomas Sainrat",
  "Maxime Paillasa",
  "Alexandre Boucaud",
  "Remy Joseph",
  "Patricia Burchat",
  "Cyrille Doux",
  "Eric Aubourg",
]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
description = "Blending ToolKit"
documentation = "https://lsstdesc.org/BlendingToolKit/index.html"
keywords = ["cosmology", "galaxies", "blending", "lsst", "simulation"]
license = "MIT"
name = "blending_toolkit"
packages = [{include = "btk"}]
readme = "README.md"
repository = "https://github.com/LSSTDESC/BlendingToolKit"
version = "0.0.1-alpha.2"

[tool.poetry.dependencies]
astropy = "^4.2"
galsim = "^2.2.4"
matplotlib = "^3.3.3"
numpy = "^1.18.5"
python = "^3.8"
scikit-image = "^0.18.0"
scipy = "^1.4.1"
sep = "^1.1.1"

[tool.poetry.dev-dependencies]
Cython = "^0.29.21"
black = "^20.8b1"
flake8-absolute-import = "^1.0"
pre-commit = "^2.9.2"
pybind11 = "^2.2"
pytest = "^6.1.2"
pytest-cov = "^2.10.1"
reorder-python-imports = "^2.4.0"
wheel = "^0.36.2"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/LSSTDESC/BlendingToolKit/issues"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
line-length = 100
target-version = ['py38']
