[tool.poetry]
authors = [
  "Ismael Mendoza <imendoza@umich.edu>",
  "Somwya Kamath",
  "Thomas Sainrat",
  "Maxime Paillasa",
  "Alexandre Boucaud",
  "Remy Joseph",
  "Patricia Burchat",
  "Cyrille Doux",
  "Eric Aubourg",
]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
description = "Blending ToolKit"
documentation = "https://lsstdesc.org/BlendingToolKit/index.html"
keywords = ["cosmology", "galaxies", "blending", "lsst", "simulation"]
license = "MIT"
name = "blending_toolkit"
packages = [{include = "btk"}, {include = 'conf'}]
readme = "README.md"
repository = "https://github.com/LSSTDESC/BlendingToolKit"
version = "0.9.2"

[tool.poetry.dependencies]
astropy = "^4.2"
autograd = {version = "^1.3", optional = true}
galsim = "^2.2.4"
galsim-hub = {version = "^0.0.1-rc.4", python = "~3.7", optional = true}
hydra-core = "^1.0.6"
ipywidgets = "^7.6.3"
matplotlib = "^3.3.3"
numpy = "^1.18.5"
pandas = "^1.2.5"
peigen = {version = "^0.0.9", optional = true}
proxmin = {version = "^0.6.11", optional = true}
pybind11 = {version = "^2.7.0", optional = true}
python = "^3.7.1"
scikit-image = "^0.18.0"
scipy = "^1.4.1"
seaborn = "^0.11.1"
sep = "^1.1.1"
tensorflow = {version = "1.15.5", python = "~3.7", optional = true}

[tool.poetry.dev-dependencies]
Cython = "^0.29.21"
black = "^20.8b1"
flake8 = "^3.8.4"
flake8-absolute-import = "^1.0"
jupyter-sphinx = "^0.3"
mock = "^3.0.5"
nbval = "^0.9.6"
pre-commit = "^2.9.2"
pybind11 = "^2.2"
pydocstyle = "^5.1.1"
pytest = "^6.1.2"
pytest-cov = "^2.10.1"
reorder-python-imports = "^2.4.0"
sphinx = "^3.3"
sphinx-rtd-theme = "^0.4.3"
wheel = "^0.36.2"

[tool.poetry.scripts]
btk = "btk.__main__:run"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/LSSTDESC/BlendingToolKit/issues"

[tool.black]
line-length = 100
target-version = ['py37']

[tool.poetry.extras]
galsim-hub = ["galsim-hub", "tensorflow"]
scarlet = ["peigen", "autograd", "pybind11", "proxmin"]

[build-system]
build-backend = "poetry.core.masonry.api"
galsim-hub = ["galsim-hub", "tensorflow"]
requires = ["poetry-core>=1.0.0"]
